body {
    font-family: Georgia;
}
.logo {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 30px;
    margin-right: 100px;
    margin-top: 10px;    /* if you want it vertically middle of the navbar. */
}

.navbar ul,li {
    display:inline-block;
    vertical-align: top;
    background-color: white;
    overflow:hidden;
    margin-right: 100px;
    line-height:20px;
}

.navbar a{
    color:black;
    font-size: 15px;
    text-decoration: none;
}

.current-page {
    text-decoration: underline;
}

.navbar a:hover{
    text-decoration: underline;
}

.header {
    background: linear-gradient(180deg, #D3D0F0 -17.82%, #C6D2ED 100.04%);
    display: block;
    font-size: 20px;
    padding: 5% 0% 5% 5%;
}

.header p{
    width: 50%;
}