body {
    font-family: Georgia;
}
.logo {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 30px;
    margin-right: 100px;
    margin-top: 10px;    /* if you want it vertically middle of the navbar. */
}

.navbar ul,li {
    display:inline-block;
    vertical-align: top;
    background-color: white;
    overflow:hidden;
    margin-right: 100px;
    line-height:20px;
}

.navbar a{
    color:black;
    font-size: 15px;
    text-decoration: none;
}

.current-page {
    text-decoration: underline;
}

.navbar a:hover{
    text-decoration: underline;
}

.header {
    background: linear-gradient(180deg, #D3D0F0 -17.82%, #C6D2ED 100.04%);
    display:flex;
    height: 300px;
    
}

.text {
    font-size: 20pt;
    padding-left: 10%;
    width: 65%;
}

.topic-button {
    margin-top: 10%;
    margin: 5% 0% 0% 10%;
    padding: 2.5% 0 2.5% 2.5%;
    width: 80%;
    border-radius: 25px;
    display: flex;
}

.topic-text {
    text-align: left;
    width: 60%;
}

.topic-button img{
    padding-left: 30%;
    width: 200px;
    height: 200px;
}

footer {
    margin-top: 5%;
    padding: 3px;
    text-align: center;
    background-color: lightblue;
}